{% extends 'base.html' %}

{% block title %}{% if session.get('lang','kor') == 'eng' %}Add Food Intake{% else %}섭취 기록 추가{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if session.get('lang','kor') == 'eng' %}Add Food Intake{% else %}섭취 기록 추가{% endif %}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="date">{% if session.get('lang','kor') == 'eng' %}Date{% else %}날짜{% endif %}</label>
            <input type="date" id="date" name="date" class="form-control" required value="{{ today }}">
        </div>
        <div class="form-group">
            <label for="time">{% if session.get('lang','kor') == 'eng' %}Time{% else %}시간{% endif %}</label>
            <input type="time" id="time" name="time" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="food">{% if session.get('lang','kor') == 'eng' %}Select Food{% else %}음식 선택{% endif %}</label>
            <select id="food" name="food_id" class="form-control" required>
                <option value="">{% if session.get('lang','kor') == 'eng' %}Choose a dish...{% else %}요리를 선택하세요...{% endif %}</option>
                {% for dish in dishes %}
                <option value="{{ dish.id }}">{{ dish.name[session.get('lang', 'kor')] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">{% if session.get('lang','kor') == 'eng' %}Add Intake{% else %}섭취 기록 추가{% endif %}</button>
    </form>
</div>
{% endblock %}