<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}우주 식량 관리 시스템{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">홈</a>
        {% if session.user %}
            <a href="{{ url_for('visualize.visualize_home') }}">데이터 시각화</a>
            <a href="{{ url_for('visualize.visualize_storaged_ingredient') }}">보관 식재료 시각화</a>
            <a href="{{ url_for('add_data.add_data_home') }}">데이터 추가</a>
            <a href="{{ url_for('auth.logout') }}">로그아웃 ({{ session.user.username }})</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">로그인</a>
            <a href="{{ url_for('auth.signup') }}">회원가입</a>
        {% endif %}
    </nav>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/dynamic_language_fields.js') }}"></script>
</body>
</html>
