<!DOCTYPE html>
<html lang="{{ session.get('lang', 'kor') == 'eng' and 'en' or 'ko' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}우주 식량 관리 시스템{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">{% if session.get('lang','kor') == 'eng' %}Home{% else %}홈{% endif %}</a>
        {% if session.user %}
            <a href="{{ url_for('visualize.visualize_home') }}">{% if session.get('lang','kor') == 'eng' %}Visualize{% else %}데이터 시각화{% endif %}</a>
            <a href="{{ url_for('visualize.visualize_storaged_ingredient') }}">{% if session.get('lang','kor') == 'eng' %}Stored Ingredients{% else %}보관 식재료 시각화{% endif %}</a>
            <a href="{{ url_for('add_data.add_data_home') }}">{% if session.get('lang','kor') == 'eng' %}Add Data{% else %}데이터 추가{% endif %}</a>
            <a href="{{ url_for('auth.logout') }}">{% if session.get('lang','kor') == 'eng' %}Logout{% else %}로그아웃{% endif %} ({{ session.user.username }})</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">{% if session.get('lang','kor') == 'eng' %}Login{% else %}로그인{% endif %}</a>
            <a href="{{ url_for('auth.signup') }}">{% if session.get('lang','kor') == 'eng' %}Sign up{% else %}회원가입{% endif %}</a>
        {% endif %}
    </nav>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/dynamic_language_fields.js') }}"></script>
</body>
</html>
