{% extends 'base.html' %}

{% block title %}{% if session.get('lang','kor') == 'eng' %}Cooking Method Details{% else %}조리 방법 상세 정보{% endif %}{% endblock %}

{% block content %}
    {% if method %}
        <p><em>{% if session.get('lang','kor') == 'eng' %}Category: Cooking Method{% else %}카테고리: 조리 방법{% endif %}</em></p>
        <h1>{{ method.name[session.get('lang', 'kor')] }}</h1>
        <p><strong>ID:</strong> {{ method.id }}</p>
        <h2>Name</h2>
        <ul>
            {% for lang, text in method.name.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>
        <h2>Description</h2>
        <ul>
            {% for lang, text in method.description.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>

        <h2>{% if session.get('lang','kor') == 'eng' %}Related Research{% else %}관련 연구{% endif %}</h2>
        <ul>
            {% for research_id in method.research_ids %}
                {% for research in research_data %}
                    {% if research.id == research_id %}
                        <li><a href="{{ url_for('visualize.research_detail', research_id=research_id) }}">{{ research.reference_data.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <h2>{% if session.get('lang','kor') == 'eng' %}Used in Dishes{% else %}사용되는 요리{% endif %}</h2>
        {% if related_dishes %}
            <ul>
                {% for dish in related_dishes %}
                    <li>{{ dish.name[session.get('lang', 'kor')] }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Not used in any dishes.</p>
        {% endif %}
    {% else %}
        <h1>Cooking method not found.</h1>
    {% endif %}
{% endblock %}
