{% extends 'base.html' %}

{% block title %}조리 방법 상세 정보{% endblock %}

{% block content %}
    {% if method %}
        <h1>{{ method.name.kor }}</h1>
        <p><strong>ID:</strong> {{ method.id }}</p>
        <h2>Name</h2>
        <ul>
            {% for lang, text in method.name.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>
        <h2>Description</h2>
        <ul>
            {% for lang, text in method.description.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>

        <h2>Related Research</h2>
        <ul>
            {% for research_id in method.research_ids %}
                <li><a href="{{ url_for('visualize.research_detail', research_id=research_id) }}">{{ research_id }}</a></li>
            {% endfor %}
        </ul>

        <h2>Used in Dishes</h2>
        {% if related_dishes %}
            <ul>
                {% for dish in related_dishes %}
                    <li>{{ dish.name.kor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Not used in any dishes.</p>
        {% endif %}
    {% else %}
        <h1>Cooking method not found.</h1>
    {% endif %}
{% endblock %}
