{% extends 'base.html' %}

{% block title %}식재료 상세 정보{% endblock %}

{% block content %}
    {% if ingredient %}
        <p><em>Category: Ingredient</em></p>
        <h1>{{ ingredient.name.kor }}</h1>
        <p><strong>ID:</strong> {{ ingredient.id }}</p>
        <h2>Name</h2>
        <ul>
            {% for lang, text in ingredient.name.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>
        <h2>Nutrition Information</h2>
        {% if ingredient.nutrition_info %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nutrient</th>
                    <th>Amount per unit mass</th>
                </tr>
            </thead>
            <tbody>
                {% for nutrient in ingredient.nutrition_info %}
                <tr>
                    <td>{{ nutrient.name }}</td>
                    <td>{{ nutrient.amount_per_unit_mass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No nutrition information available.</p>
        {% endif %}
        
        <p><strong>Production Time:</strong> {{ ingredient.production_time }}</p>
        
        <h2>Related Research</h2>
        <ul>
            {% for research_id in ingredient.research_ids %}
                {% for research in research_data %}
                    {% if research.id == research_id %}
                        <li><a href="{{ url_for('visualize.research_detail', research_id=research_id) }}">{{ research.reference_data.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <h2>Used in Dishes</h2>
        {% if related_dishes %}
            <ul>
                {% for dish in related_dishes %}
                    <li>{{ dish.name.kor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Not used in any dishes.</p>
        {% endif %}
    {% else %}
        <h1>Ingredient not found.</h1>
    {% endif %}
{% endblock %}
