{% extends 'base.html' %}

{% block title %}{% if session.get('lang','kor') == 'eng' %}Ingredient Details{% else %}식재료 상세 정보{% endif %}{% endblock %}

{% block content %}
    {% if ingredient %}
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="mb-0"><em>{% if session.get('lang','kor') == 'eng' %}Category: Ingredient{% else %}카테고리: 식재료{% endif %}</em></p>
            <a href="{{ url_for('edit_data.edit_ingredient_route', ingredient_id=ingredient.id) }}" 
               class="btn btn-primary">수정하기</a>
        </div>
        <h1>{{ ingredient.name[session.get('lang', 'kor')] }}</h1>
        <p><strong>ID:</strong> {{ ingredient.id }}</p>
        <h2>Name</h2>
        <ul>
            {% for lang, text in ingredient.name.items() %}
                <li><strong>{{ lang.upper() }}:</strong> {{ text }}</li>
            {% endfor %}
        </ul>
        <h2>{% if session.get('lang','kor') == 'eng' %}Nutrition Information{% else %}영양정보{% endif %}</h2>
        {% if ingredient.nutrition_info %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% if session.get('lang','kor') == 'eng' %}Nutrient{% else %}영양소{% endif %}</th>
                    <th>{% if session.get('lang','kor') == 'eng' %}Amount per unit mass{% else %}단위 질량 당 함량{% endif %}</th>
                </tr>
            </thead>
            <tbody>
                {% for nutrient in ingredient.nutrition_info %}
                <tr>
                    <td>{{ nutrient.name }}</td>
                    <td>{{ "%.3f"|format(nutrient.amount_per_unit_mass) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No nutrition information available.</p>
        {% endif %}
        
        <p><strong>Production Time:</strong> {{ ingredient.production_time }}</p>
        
        <h2>Related Research</h2>
        <ul>
            {% for research_id in ingredient.research_ids %}
                {% for research in research_data %}
                    {% if research.id == research_id %}
                        <li><a href="{{ url_for('visualize.research_detail', research_id=research_id) }}">{{ research.reference_data.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <h2>Used in Dishes</h2>
        {% if related_dishes %}
            <ul>
                {% for dish in related_dishes %}
                    <li>{{ dish.name.kor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Not used in any dishes.</p>
        {% endif %}
    {% else %}
        <h1>Ingredient not found.</h1>
    {% endif %}
{% endblock %}
