{% extends 'base.html' %}

{% block title %}{% if session.get('lang','eng') == 'eng' %}Login{% else %}로그인{% endif %}{% endblock %}

{% block content %}
        <h1 class="card-title">{% if session.get('lang','eng') == 'eng' %}Login{% else %}로그인{% endif %}</h1>
        <form method="POST" class="form-centered">
            <div class="form-group">
                <label for="username">{% if session.get('lang','eng') == 'eng' %}Username:{% else %}사용자 이름:{% endif %}</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">{% if session.get('lang','eng') == 'eng' %}Password:{% else %}비밀번호:{% endif %}</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn-primary">{% if session.get('lang','eng') == 'eng' %}Login{% else %}로그인{% endif %}</button>
        </form>
        <div class="card-actions" style="margin-top: 1.5rem; justify-content: center;">
            <p>{% if session.get('lang','eng') == 'eng' %}Don't have an account?{% else %}계정이 없으신가요?{% endif %}</p>
            <a href="{{ url_for('auth.signup') }}" class="btn-secondary">{% if session.get('lang','eng') == 'eng' %}Sign up{% else %}회원가입{% endif %}</a>
        </div>
{% endblock %}
